* {
	box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(https://res.cloudinary.com/drpcjt13x/image/upload/v1603629630/Proyectos/Drum%20Machine/DrumMachine-Background_zzuvor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



